<h1>{{ album.name }}</h1>

<div class="photos">
    <ul>
        {{#album.photos}}
            <li>{{ name }}</li>
        {{/album.photos}}
        {{^album.photos}}
            <li>This album has no photos</li>
        {{/album.photos}}
    </ul>
    
</div>