<!DOCTYPE html>
<html>

<head>
    <title>First Node JS App</title>
    
    <!-- Meta -->
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    
    <!-- Stylesheets -->
    <link rel="stylesheet" href="http://localhost:3000/content/style.css" type="text/css" />
    
    <!-- javascripts -->
    <script src="http://localhost:3000/node_modules/jquery/dist/jquery.js" type="application/javascript"></script>
    <script src="http://localhost:3000/node_modules/mustache/mustache.js" type="application/javascript"></script>
    <script type="application/javascript">
        const config = {
            albumName: '{{RESOURCE_NAME}}'
        };
    </script>
    <script src="http://localhost:3000/content/{{PAGE_NAME}}.js" type="application/javascript"></script>
</head>

<body></body>

</html>