<div class="album-list">
    <p>There are {{ albums.length }} albums</p>
    <ul class="albums">
        {{#albums}}
            <li class="album">
                <a href="http://localhost:3000/album/{{name}}">{{name}}</a>
            </li>
        {{/albums}}
        {{^albums}}
            <li> Sorry there are currently no albums</li>
        {{/albums}}
    </ul>
</div>